/* aboutmeContainer */


.aboutMeTitleContainer {
  color: white;
  background-color: black;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(1.4vw + 1.4vh + 1.4vmin);
  font-family: 'Chakra Petch', sans-serif;}

.aboutMeDescriptionContainer {
  color: white;
  background-color: black;
  height: fit-content;
  display: flex;
  width: 100%;
  justify-content: center;
}


.aboutMeDescriptionTitle {
  color: white;
  font-size: calc(1.5vw + 1.5vh + 1.5vmin);
  font-family: 'Chakra Petch', sans-serif;
  text-align: left;
  margin: 2%;
  margin-bottom: 1%;
  font-weight: 800;
}
.aboutMeDescriptionText {
  font-size: calc(.7vw + .7vh + .7vmin);
  font-family: 'Chakra Petch', sans-serif;
  text-align: left;
  margin: 2%;
  margin-top: 1%;
}

.aboutMeSubtitles{
  color: white;
  background-color: black;
  padding: 3%;
  /* add font to adjust to screen size */
  font-size: calc(.9vw + .9vh + .9vmin);
}

.aboutMeDescriptionBorder {
  border-radius: 10px;
  border: 1px solid white;
  width: 90%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1%;
  position: relative;
}

.animateContent{
  background-color: rgba(122, 122, 122, 0.144);
  backdrop-filter: blur(8px);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  opacity: 1;
  border-radius: 10px;

}

.animateHoverContent{
  background-color: rgb(167, 167, 167);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

