/* lets edit the scroll bar color */

.extracurricularsContainer{
    position: relative;
    z-index: 10;
    height: 101vh;
    width: 100vw;
    background-color: rgb(252,98,24);
    scrollbar-width: thin;
}
.extracurricularsContainerNoScroll{
    overflow: hidden;
}
.titleRowExtra{
    height: 10vh;
}
.titleColExtra{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    font-size: 5vh;
    font-weight: 600;
}
.descGraphRowExtra{
    height: 35vh;
}
.descExtra{
    height: 32.5vh;
    width: 80%;
    background-color: rgb(255,255,255);
    /* opacity: 0.5; */
    border-radius: 10px;
    box-shadow: 8px 8px 3px 3px rgba(0, 0, 0, 0.50);
}
.runningExtra{
    height: 32.5vh;
    width: 95%;
    background-color: rgb(255,255,255);
    /* opacity: 0.5; */
    box-shadow: 8px 8px 3px 3px rgba(0, 0, 0, 0.50);
    display: flex;
    border-radius: 10px;
}
.graphExtra{
 height: 32.5vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.statsExtra{
 height: 32.5vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.selected{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.distance{
    display: flex;
    justify-content: center;
    align-items: center;
}
.date{
    display: flex;
    justify-content: center;
    align-items: center;
}

.activityPicsRow{
    height: 27.5vh;
}
.activityTextExtra{
    height: 25vh;
    width: 100%;
    background-color: rgb(255,255,255);
    /* opacity: 0.5; */
    border-radius: 10px;
    box-shadow: 8px 8px 3px 3px rgba(0, 0, 0, 0.50);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.activityPicsExtra{
    height: 25vh;
    width: 100%;
    background-color: rgb(255,255,255);
    /* opacity: 0.5; */
    border-radius: 10px;
    box-shadow: 8px 8px 3px 3px rgba(0, 0, 0, 0.50);
    overflow-y: scroll;
    /* lets change width of scroll */
    scrollbar-width: 0px;
}
.lifePicsRow{
    height: 27.5vh;
}
.lifePicsExtra{
    height: 25vh;
    width: 100%;
    background-color: rgb(255,255,255);
    /* opacity: 0.5; */
    border-radius: 10px;
    box-shadow: 8px 8px 3px 3px rgba(0, 0, 0, 0.50);
}