.foodoodContainer{
    position: relative;
    z-index: 10;
    height: 101vh;
    /* 101 to allow scroll bec safari is dumb and need scroll to hide url address bar */
    width: 100vw;
    background-color: #E2B080;    
}
.foodoodContainerNoScroll{
    overflow: hidden;
}

.fatherRow{
    height: 100vh;
    /* background-color: #E2f081; */
}


/* **********TITLE DOOD LOGO CONTAINERS AND STYLING************* */
.titleRow{
    height: 20vh;
    /* background-color: rgb(186,186,0); */
}
.titleCol{
    display: flex;
    justify-content: center;
    align-items: center;
}
.doodLogo{
    height: 20vh; 
}
/* ^^^^^^^^^^^^^TITLE DOOD LOGO CONTAINERS AND STYLING^^^^^^^^^^^^ */

.imgRow{
    height: 80vh;
    /* background-color: rgb(0,186,186); */
}
.imgCol{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgsContainer{
    height: 75vh;
    width: 95%;
    background-color: rgba(100, 100, 100, 0.25);
    border-radius: 10px;
}

.descriptionRow{
    height: 35vh;
    /* background-color: rgb(0,186,0); */
}
.descriptionCol{
    display: flex;
    justify-content: center;
    align-items: center;
}
.descriptionContainer{
    height: 30vh;
    width: 95%;
    background-color: rgba(100, 100, 100, 0.25);
    border-radius: 10px;
}

.frameworks{
    height: 10vh;
    /* background-color: rgb(186,0,186); */
}
.frameworksCol{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.hamburgers{
    height: 10vh;
    /* background-color: rgb(186,0,0); */
}
.burgerCol{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.projLinks{
    height: 10vh;
    /* background-color: rgb(0,0,186); */
}
.projLinkCol{
    display: flex;
    justify-content: center;
    align-items: center;
}
.projLinkContainer{
    height: 8vh;
    width: 80%;
    background-color: rgba(100, 100, 100, 0.25);
    border-radius: 10px;
}


/* **********ROLE DOOD LOGO CONTAINERS AND STYLING************* */
.roleRow{
    height: 35vh;
    /* background-color: rgb(0,0,0); */
}
.roleCol{
    display: flex;
    justify-content: center;
    align-items: center;
}
.roleContainer{
    height: 30vh;
    width: 95%;
    background-color: rgba(100, 100, 100, 0.25);
    border-radius: 10px;
}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */


/* MOBILE CSS BELOW */
.mobileTitleRow{
    height: 15vh;
    /* background-color: rgb(186,186,0); */
    /* background-color: #ff7b00; */
}
.centerCol{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.centerColBurger{
    display: flex;
    justify-content: center;
    overflow: visible;
    padding: 0px !important;
}

.doodLogoMobile{
    height: 15vh; 
}

.descRow{
    /* background-color: rgb(186,186,0); */
    height: 25vh;
}

.descriptionMobile{
    height: 22.5vh;
    background-color: rgba(100, 100, 100, 0.25);
    width: 100%;
    border-radius: 10px;
}
.roleMobile{
    height: 22.5vh;
    background-color: rgba(100, 100, 100, 0.25);
    width: 100%;
    border-radius: 10px;
}
.picRow{
    height: 25vh;
    /* background-color: rgb(186,186,0); */
}
.picsMobile{
    height: 22.5vh;
    background-color: rgba(100, 100, 100, 0.25);
    width: 100%;
    border-radius: 10px;
}

.frameworksTitleRow{
    height: 5vh;
    /* background-color: rgb(186,186,0); */
}

.frameworksMobileTitle{
    /* underline text */
    text-decoration: underline;
}
.centerColFW{
    display: flex;
    justify-content: center;
    align-items: center;
}

.frameworksMobileRow{
    height: 15vh;
    /* background-color: rgb(186,186,0); */
}
.buttonRow{
    height: 15vh;
    /* background-color: rgb(186,186,0); */
}
.githubLink{
    height: 12.5vh;
    background-color: rgba(100, 100, 100, 0.25);
    width: 100%;
    border-radius: 10px;
}
.websiteLink{
    height: 12.5vh;
    background-color: rgba(100, 100, 100, 0.25);
    width: 100%;
    border-radius: 10px;
}

