.about-me-header {
    /* background-image: require('../images/monstera.jpg'); */
    background-position: center; 
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* to make it so once too small, items will stack on top of each other use flex-wrap: wrap;
    */
    flex-wrap: wrap;
    
    
}

.about-me-header-text {
    /* font-family: 'Roboto', sans-serif; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 600;
    width: 270px;
    color: #fefefe;
    /* background-color: rgba(20, 20, 20, 0.6); */
    /* margin-left: 2.5%; */
    height: 90px;

}

.about-me-header-rnd-image {
    width: 45%;
    max-width: 300px;
    min-width: 150px;
    margin: 2.5%;
    margin-right: 2.5%;
}    

img {
    width: 100%;
    border-radius: 50%;
}



