.homeTownContainer{
    position: relative;
    z-index: 10;
    height: 101vh;
    width: 100vw;
    background-color: #6DBAE3;
}
.homeTownContainerNoScroll{
    overflow: hidden;
}
.titleRowHomeTown{
    height: 15vh;
    /* background-color: #b98618; */
}
.titleColHomeTown{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.lbLogo{
    height: auto;
    max-width: 100%; 
    max-height: 15vh;
    position: absolute;
    z-index: 5;
    filter: drop-shadow(6px 6px 2px rgb(236,0,140));
    /* lets make the color of logoo inverse */
    /* filter: invert(1); */
}
.contentRowHomeTown{
    height: 85vh;
    /* background-color: #b98618; */
}
.coursesRowHomeTown{
    height: 85vh;
    /* background-color: #7c5b13; */
}
.coursesHomeTown{
    height: 80vh;
    width: 95%;
    background-color: rgba(255, 255, 255, 0.50);
    /* opacity: 0.5; */
    border-radius: 10px;
    box-shadow: 8px 8px 3px 3px rgba(0, 0, 0, 0.75);
}
.descriptionRowHomeTown{
    height: 25vh;
    /* background-color: #684a0a; */
}
.descriptionHomeTown{
    height: 20vh;
    width: 95%;
    background-color: rgba(255, 255, 255, 0.50);
    /* opacity: 0.5; */
    border-radius: 10px;
    box-shadow: 8px 8px 3px 3px rgba(0, 0, 0, 0.75);
}
.clubsWorkRowHomeTown{
    height: 25vh;
    /* background-color: #e9c26f; */
}
.clubsWorkHomeTown{
    height: 20vh;
    width: 95%;
    background-color: rgba(255, 255, 255, 0.50);
    /* opacity: 0.5; */
    border-radius: 10px;
    box-shadow: 8px 8px 3px 3px rgba(0, 0, 0, 0.75);
}
.challangesRowHomeTown{
    height: 25vh;
    /* background-color: #4b3e22; */
}
.challangesHomeTown{
    height: 20vh;
    width: 95%;
    background-color: rgba(255, 255, 255, 0.50);
    /* opacity: 0.5; */
    border-radius: 10px;
    box-shadow: 8px 8px 3px 3px rgba(0, 0, 0, 0.75);
}
.buttonsRowHomeTown{
    height: 10vh;
    /* background-color: #47340a; */
}
.buttonHomeTown{
    height: 5vh;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.50);
    border-radius: 10px;
    box-shadow: 8px 8px 3px 3px rgba(0, 0, 0, 0.75);
}
