.JarvisContainer{
    position: fixed;
    z-index: 10;
    height: 100vh;
    width: 100vw;
    background-color: rgb(163,116,76);
}


.jarvisContainerNoScroll{
    overflow: hidden;
}

.titleRowJarvis{
    height: 15vh;
    /* background-color: #e5fac2; */
}
.titleColJarvis{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    font-size: calc(1.8vw + 1.8vh + 1.8vmin);
  font-family: "Chakra Petch", sans-serif;
    /* font-size: 5vh; */
    font-weight: 600;
}

.videoRowJarvis{
    height: 35vh;
    /* background-color: #b6c799; */

}
.videoColJarvis{
    display: flex;
    justify-content: center;
    align-items: center;
}

.videoContainerJarvis{
    height: 30vh;
    width: 80%;
    background-color: rgba(168, 168, 168, 0.25);
    /* opacity: 0.5; */
    border-radius: 10px;
    box-shadow: 8px 8px 3px 3px rgba(0, 0, 0, 0.75);
}

.frameWorksRowJarvis{
    height: 10vh;
    /* background-color: #626b52; */

}
.frameWorksColJarvis{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.descriptionRowJarvis{
    height: 25vh;
    /* background-color: #414736; */

}
.descriptionColJarvis{
    display: flex;
    justify-content: center;
    align-items: center;
}
.descriptionContainerJarvis{
    height: 20vh;
    width: 95%;
    background-color: rgba(168, 168, 168, 0.25);
    /* opacity: 0.5; */
    border-radius: 10px;
    box-shadow: 8px 8px 3px 3px rgba(0, 0, 0, 0.75);
}

.buttonRowJarvis{
    height: 15vh;
    /* background-color: #1b1d17; */

}
.githubColJarvis{
    display: flex;
    justify-content: center;
    align-items: center;
}

.downloadColJarvis{
    display: flex;
    justify-content: center;
    align-items: center;
}

.downloadContainerJarvis{
    height: 5vh;
    width: 80%;
    background-color: rgba(168, 168, 168, 0.25);
    /* opacity: 0.5; */
    border-radius: 10px;
    box-shadow: 8px 8px 3px 3px rgba(0, 0, 0, 0.75);
    max-width: 175px;
}
