.keyLoggerContainer{
    position: relative;
    z-index: 10;
    height: 101vh;
    width: 100vw;
    background-color: #346258;
}


.keyLoggerContainerNoScroll{
    overflow: hidden;
}

.titleRowKeyLogger{
    height: 15vh;
    /* background-color: #e5fac2; */
}
.titleColKeyLogger{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    font-size: calc(1.8vw + 1.8vh + 1.8vmin);
  font-family: "Chakra Petch", sans-serif;
    /* font-size: 5vh; */
    font-weight: 600;
}

.videoRowKeyLogger{
    height: 35vh;
    /* background-color: #b6c799; */

}
.videoColKeyLogger{
    display: flex;
    justify-content: center;
    align-items: center;
}

.videoContainerKeyLogger{
    height: 30vh;
    width: 80%;
    background-color: rgba(168, 168, 168, 0.25);
    /* opacity: 0.5; */
    border-radius: 10px;
    box-shadow: 8px 8px 3px 3px rgba(0, 0, 0, 0.75);
}

.frameWorksRowKeyLogger{
    height: 10vh;
    /* background-color: #626b52; */

}
.frameWorksColKeyLogger{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.descriptionRowKeyLogger{
    height: 25vh;
    /* background-color: #414736; */

}
.descriptionColKeyLogger{
    display: flex;
    justify-content: center;
    align-items: center;
}
.descriptionContainerKeyLogger{
    height: 20vh;
    width: 95%;
    background-color: rgba(168, 168, 168, 0.25);
    /* opacity: 0.5; */
    border-radius: 10px;
    box-shadow: 8px 8px 3px 3px rgba(0, 0, 0, 0.75);
    padding: 1%;
    font-size: calc(0.7vw + 0.7vh + 0.7vmin);
    font-family: "Chakra Petch", sans-serif;
    overflow-x: scroll;
}

.buttonRowKeyLogger{
    height: 15vh;
    /* background-color: #1b1d17; */

}
.githubColKeyLogger{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.downloadColKeyLogger{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.downloadContainerKeyLogger{
    height: fit-content;
    max-height: 15vh;
    width: 80%;
    background-color: rgba(168, 168, 168, 0.25);
    /* opacity: 0.5; */
    border-radius: 10px;
    box-shadow: 8px 8px 3px 3px rgba(0, 0, 0, 0.75);
    max-width: 200px;
    cursor: pointer;
    border-color: rgb(59, 83, 78);
    font-size: calc(0.6vw + 0.6vh + 0.6vmin);
    font-family: "Chakra Petch", sans-serif;
}
