.navigator {
    /* add css to align items to the right */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* some common bold fonts i can use are:*/
    /* position: sticky; */
    height: 80%;
    /* margin-top: 0px;     */

}

.top-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: scroll;
    position: sticky;
    top: 0;
    height: 5rem;
    background-color: white;
    z-index: 1;
}
.top-header-container-down {
    display: none;
}


.title a {
    text-decoration: none;
    color: black;
    
}

.title {
    margin-left: 30px;
    margin-right: 30px;
}


.navButtons {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgb(36, 132, 55);
    margin-right: 5px;
    border-radius: 10px 100px / 120px;
    width: 115px;
    height: 35px;
    text-align: center;
    padding-top: 5px;
}

.navigator a:hover {
    background-color: rgb(39, 159, 63);
    color: white;
}

