.navigator {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255);
    /* some common bold fonts i can use are:*/
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    position: sticky;
    padding: 10px;
    /* margin-top: 0px;     */
}

.navigator a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgb(36, 132, 55);
    padding: 1rem 1.3rem;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px 100px / 120px;
    width: 50%;
    text-align: center;
}

.navigator a:hover {
    background-color: rgb(39, 159, 63);
    color: white;
}

/* use body {} to style the whole page */
