h1 {
  color: #000000;
  text-align: center;
  font-family: "Lora", serif;
  font-size: 3rem;
  font-weight: 800;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

body {
  background-color: rgb(255, 255, 255);
  margin: 0;
}
.staticScrollerUp {
  position: fixed;
  width: 100vw;
  top: 93%;
  display: flex;
  direction: rtl;
  z-index: 1;
  /* transform: translate(0, -100%); */
}

.staticScrollerUp img {
  height: 100%;
  width: 100%;
}

.imgContainerDown {
  height: 50px;
  margin-right: 10px;
  width: 50px;
}

.imgContainerDown:hover {
  cursor: pointer;
}

.imgContainerUp {
  height: 50px;
  margin-right: 10px;
  width: 50px;
}

.imgContainerUp:hover {
  cursor: pointer;
}

.staticScrollerDown {
  position: fixed;
  width: 100vw;
  top: 104%;
  display: flex;
  direction: rtl;
  z-index: 1;
}

.staticScrollerDown img {
  height: 100%;
  width: 100%;
}

