.stickContainer{
    position: relative;
    z-index: 10;
    height: 101vh;
    width: 100vw;
    background-color: #516234;
}

.stickContainerNoScroll{
    overflow: hidden;
}

.titleRowStick{
    height: 15vh;
    /* background-color: #e5fac2; */
}
.titleColStick{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    font-size: calc(1.8vw + 1.8vh + 1.8vmin);
  font-family: "Chakra Petch", sans-serif;
    /* font-size: 5vh; */
    font-weight: 600;
}

.videoRowStick{
    height: 35vh;
    /* background-color: #b6c799; */

}
.videoColStick{
    display: flex;
    justify-content: center;
    align-items: center;
}

.videoContainerStick{
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 30vh;
    width: 80%;
    background-color: rgba(168, 168, 168, 0.25);
    /* opacity: 0.5; */
    border-radius: 10px;
    box-shadow: 8px 8px 3px 3px rgba(0, 0, 0, 0.75);
}

.frameWorksRowStick{
    height: 10vh;
    /* background-color: #626b52; */

}
.frameWorksColStick{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.descriptionRowStick{
    height: 25vh;
    /* background-color: #414736; */

}
.descriptionColStick{
    display: flex;
    justify-content: center;
    align-items: center;
}
.descriptionContainerStick{
    height: 20vh;
    width: 95%;
    background-color: rgba(168, 168, 168, 0.25);
    /* opacity: 0.5; */
    border-radius: 10px;
    box-shadow: 8px 8px 3px 3px rgba(0, 0, 0, 0.75);
    padding: 10px;
    font-size: calc(0.6vw + 0.6vh + 0.6vmin);
    font-family: "Chakra Petch", sans-serif;
    overflow-x: scroll;
}

.buttonRowStick{
    height: 15vh;
    /* background-color: #1b1d17; */

}
.githubColStick{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.downloadColStick{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.downloadContainerStick{
    height: fit-content;
    width: 80%;
    background-color: rgba(168, 168, 168, 0.25);
    /* opacity: 0.5; */
    border-radius: 10px;
    box-shadow: 8px 8px 3px 3px rgba(0, 0, 0, 0.75);
    max-width: 200px;
    cursor: pointer;
    border-color: rgb(75, 83, 59);
    font-size: calc(0.6vw + 0.6vh + 0.6vmin);
    font-family: "Chakra Petch", sans-serif;
}

.ytplayer{
    border-radius: 10px;
}
